<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
  </article>
</section>

    <hr>

    <% if current_user %>
    <div class="col-md-5">
      <h3>Review this:</h3>
        <%= form_for [@product, @review] do |f| %>
        <div class="review_description"
        <%= f.label :review %>
        <%= f.text_area :description %>
        </div>
        <div class="review_rating">
        <%= f.label :rating %>
        <%= f.select :rating, (1..5) %>
        <%= f.submit "Submit" %>
        </div>
      <% end %>
    </dl>
    </div>
    <% end %>

  <article class="product_reviews">
    <% if @product.reviews.length > 0 %>
      <h3 class="reviews">Reviews</h3>
        <% @product.reviews.reverse_each do |review| %>
          <%= render 'review', review:review %>
        <% end %>
    <% else %>
      <h4 class="reviews">No reviews for this product yet.</h4>
      <% if current_user %>
        <h4 class="reviews">Do you own a <%= @product.name %>? Be the first to review!</h4>
      <% end %>
    <% end %>
  </article>
  


